{% load humanize %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
    <head>
        <title>گزارش حساب بانکی</title>
    </head>
    <body>
        <table>
            <tr>
                <th>ردیف</th>
                <th>شرح</th>
                <th>مبلغ</th>
                <th>مانده</th>
                <th>تاریخ</th>
            </tr>
            
            {% for expens in expenses %}
              <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{expens.desc}}</td>
                  <td>{{expens.amount|floatformat:"0"|intcomma}}</td>
                  <td>{{expens.date}}</td>
              </tr>
            {% endfor %}

            <tr>
                <td> جمع</td>
                <td>{{ expenses.total_amounts }}</td>
            </tr>
            
        </table>
        
    </body>
</html>