{% extends 'base.html' %}
{% load humanize %}

{% block title %} لیست هزینه ها به تفکیک گروه {% endblock title %}


{% block content %}
<table style="width: 100%;">
    <caption><h2>لیست هزینه ها به تفکیک گروه</h2> </caption>
    
    <tr>
        <th>ردیف</th>
        <th>نام گروه</th>
        <th>جمع (ریال)</th>
    </tr>
    {% for item in expens_cat %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{item.title}}</td>
        <td>{{item.cat_sum|floatformat:0|intcomma}}</td>
    </tr>
{% endfor %}
<tr>
    <td>جمع</td>
    <td></td>
    <td>{{total_amount.cat_sum__sum|floatformat:0|intcomma}}</td>

</tr>

</table>

   
{% endblock content %}